version: '3.8'
services:
  db:
    image: pgvector/pgvector:pg16
    container_name: playmcp_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: playmcp
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: